mat-toolbar {
  background-color: #fdf2b5;

  //   span {
  //     color: #fff;
  //   }
}

.layout {
  margin: 0 64px;
}


section {
  margin-top: 48px;
  max-width: 1200px;
  width: 1200px;
}

h2 {
  box-shadow: inset 0 -8px 0 0 #fdf2b5;
  width: fit-content;
}

// h2::after {
//   background-color: black;
//   content: "";
//   display: inline-block;
//   height: 2px;
//   position: relative;
//   vertical-align: middle;
//   width: 90%;
//   left: .3em;
//   margin-right: -50%;
// }
